@model RegisterViewModel

<form method="post" asp-controller="Register" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NameAndSurname"></label>
        <input asp-for="NameAndSurname" class="form-control" />
        <span asp-validation-for="NameAndSurname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConsultationDate"></label>
        <input asp-for="ConsultationDate" type="date" class="form-control" />
        <span asp-validation-for="ConsultationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product"></label>
        <select asp-for="Product" class="form-control">
            <option value="">Choose subject</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="Basics">Basics</option>
        </select>
        <span asp-validation-for="Product" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
